section[data-testid="stSidebar"] div.stButton button {
    width: 280px;
}

hr {
    margin: 5px;
}

[data-testid="stSidebar"][aria-expanded="true"]{
    min-width: 330px;
    max-width: 330px;
}

h1 {
    padding-top: 0px;
}